.navbar {
  border-radius: 5px;
  border: 0;
  background: url(../img/assets/nav-belt_trans.png) repeat-x;
  text-transform: uppercase;
  font-family: Roboto,sans-serif;
  font-weight: 700;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

button.navbar-toggle.pull-left {
  background: #6f884b;
  border: 0;
  margin-left: 6px;
}

.pull-left {
  float: left!important;
}

.form-box {
  max-width: 400px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}

.carousel-holder{
  width: 300px;
}